.dashboard-list {
    color: black;

    h1 {
        font-size: 24px;
        font-weight: 500;
    }

    .section {
        height: 50vh;
        overflow-y: scroll;
        padding: 10px 0 !important;
    }

    .tabs {
        padding-bottom: 1.5rem;
        li {
            text-align: center;
            button {
                background-color: transparent;
                border: 0;
                color: black;
                font-size: 20px;
                font-weight: 300;
            }
            button.is-primary {
                font-weight: 600;
            }
        }
    }

    .buttons {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-height: 760px) {
    .dashboard-list {
        .section {
            height: 40vh;
        }
    }
}
