.dashboard-list-card {
    margin: 20px 0;
    padding: 0 !important;
    .level {
        color: #fff;

        button {
            border-radius: 20px;
            color: #fff;
            height: 40px;
            margin: 0 10px;
            width: 40px;
        }

        button.button-schedule {
            background-color: #b8d9ec;
        }

        button.button-accept {
            background-color: #b8c1ec;
        }

        button.button-reject {
            background-color: #ecb8b8;
        }

        .container {
            padding: 0 5px;

            .dashboard-list-card-name {
                font-size: 20px;
                font-weight: 500;
            }

            .dashboard-list-card-role {
                font-size: 16px;
            }
        }
        .icon {
            background-color: #fff;
            border-radius: 20%;
            height: 50px;
            width: 50px;
        }
    }
}
