.dashboard-list-card {
    margin: 20px 0px;
    padding: 0px !important;
    .level {
        color: #ffffff;

        button {
            color: #ffffff;
            height: 40px;
            width: 40px;
            border-radius: 20px;
            margin: 0px 10px;
        }

        button.button-schedule {
            background-color: #b8d9ec;
        }

        button.button-accept {
            background-color: #b8c1ec;
        }

        button.button-reject {
            background-color: #ecb8b8;
        }
        button.button-email {
            background-color: #b8d9ec;
        }

        .container {
            padding: 0px 5px;
            .dashboard-list-card-name {
                font-size: 20px;
                font-weight: 500;
            }

            .dashboard-list-card-role {
                font-size: 16px;
            }
        }
        .icon {
            background-color: #ffffff;
            height: 50px;
            width: 50px;
            border-radius: 20%;
        }
    }
}
