.dashboard-list-card {
    margin: 20px 0;
    padding: 0 !important;
    .level {
        color: #fff;

        button {
            border-radius: 9px;
            color: #000;
            height: 40px;
            margin: 0 10px;
            width: 40px;
        }

        button.button-schedule {
            background-color: #fff;
        }

        button.button-accept {
            background-color: #fff;
        }

        button.button-reject {
            background-color: #fff;
        }

        button.button-email {
            background-color: #fff;
        }
        button.button-email {
            background-color: #fff;
        }

        .container {
            padding: 0 5px;
            .dashboard-list-card-name {
                font-size: 20px;
                font-weight: 500;
            }

            .dashboard-list-card-role {
                font-size: 16px;
            }
        }
        .icon {
            background-color: #fff;
            border-radius: 20%;
            height: 50px;
            width: 50px;
        }
        .level-right {
            .container.grade {
                padding-right: 1.25rem;
                p {
                    color: #fff;
                }
                .title {
                    padding-left: 0.75rem;
                }
            }
        }
    }
}
