.modal {
    color: #000;
    .close-button {
        position: absolute;
        right: 13px;
        top: 13px;
    }

    .modal-card {
        border-radius: 25px;
        text-align: center;
    }

    .decision-button {
        border: 0;
        border-radius: 8px;
        color: #fffffe;
        cursor: pointer;
        font-size: 17px;
        margin: 15px;
        padding: 10px 16px;
    }

    .decision-button:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    button.accept {
        background-color: #4e5fae;
    }

    button.reject {
        background-color: #ecb8b8;
    }
}

.sheet {
    margin: auto !important;
    width: 90%;
}

.modal h1 {
    color: #000 !important;
}
