.applicant-navbar {
    margin-top: 1em;
    margin-left: -1.5rem;
    margin-right: 5.5rem;
    .dropdown {
        margin-left: 35%;
    }
}
.form-header {
    padding: 2em 2em;

    .applicant-card {
        background-color: black;
        border-radius: 20px;
        color: white;
        font-size: 17px;
        padding: 25px 21px;

        .icon {
            background-color: white;
            border-radius: 50%;
            color: black;
            padding: 20px;
        }
    }
    .score-values {
        text-align: right;
    }
}

.scoring-form {
    margin-top: 2em;
    height: 70vh;
    overflow-y: auto;
    position: absolute;
}
.current-score {
    position: fixed;
    bottom: 2em;
    right: 2em;
    background-color: black;
    border-radius: 25px;
    color: white;
    padding: 10px 15px;
}
