form {
    color: black;

    .scoring-field {
        background-color: white;
        border-radius: 20px;
        margin: auto;
        padding: 20px 24px;
        width: 80%;
    }

    .submit-button {
        color: white;
        background-color: black;
        border-radius: 5px;
        font-size: 1em;
        padding: 5px 10px;
        position: fixed;
        top: 2.5em;
        right: 1.5rem;
    }
}
