.applicant-navbar {
    margin-top: 1rem;
    margin-left: -1.5rem;
    margin-right: 5.5rem;
    button {
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 20px;
        i {
            padding: 1rem;
        }
    }
}

.form-header {
    color: white;
}

.scoring-form {
    height: 70vh;
    overflow-y: auto;
}
