.column-sidebar,
.screening-stage {
    padding: 0;
}

.view {
    height: 100vh;
    overflow: hidden;
    padding: 0;
}

.screening-stages {
    padding-top: 1.6rem;
    padding-bottom: 0;
    img:hover {
        cursor: pointer;
    }
}
