.columns {
    margin: 0 !important;
}

.left-section {
    align-items: center;
    display: flex;
    height: 100vh;
}

.right-section {
    color: #fff;
    height: 100vh;
    position: relative;
    .form {
        align-items: center;
        display: flex;
        height: 100vh;
        margin: auto;
        width: 50%;
    }
    .position-link-registration {
        position: fixed;
        right: 10px;
        top: 10px;
    }
    .link {
        color: #fff;
    }

    .link:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
        text-decoration: underline;
    }
}
