.columns {
    margin: 0 !important;
    padding: 0 !important;
}

.left-section {
    align-items: center;
    display: flex;
    height: 100vh;
}

.login-image {
    background-color: #fff;
    background-image: url('../images/LoginImage.svg');
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    background-size: auto 100%;
    border: 2em solid #fff;
}

.right-section {
    color: #000;
    height: 100vh;
    position: relative;
    .position-link-registration {
        position: fixed;
        right: 10px;
        top: 10px;
    }
    .link {
        color: #000;
    }

    .link:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}
