.columns {
    margin: 0 !important;
}

.left-section {
    align-items: center;
    display: flex;
    height: 100vh;
}

.right-section {
    color: #fff;
    height: 100vh;
    color: white;
    position: relative;
    .form {
        width: 50%;
        margin: auto;
        display: flex;
        align-items: center;
        height: 100vh;
    }
    .top-right {
        position: fixed;
        top: 10px;
        right: 10px;
    }
    .link {
        color: white;
    }

    .link:hover {
        cursor: pointer;
        text-decoration: underline;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
