.team-view {
    font-family: Poppins;
    font-size: 1.25em;
    margin: 2em 4em;
    text-align: center;

    .link {
        color: black;
    }

    .page-title {
        font-size: 1em;
        margin: 2em 0 1.5em 0;
    }
    .slogan {
        font-size: 2.2em;
        margin-bottom: 0.5em;
    }
}
