.team-view {
    font-family: Poppins, sans-serif;
    font-size: 1.25em;
    margin: 2em 4em;
    text-align: center;

    .link {
        color: #000;
    }

    .page-title {
        font-size: 1em;
        font-weight: 600;
        margin: 2em 0 1.5em;
    }
    .slogan {
        font-size: 2.2em;
        margin-bottom: 0.5em;
    }
}
