.description-section {
    background-color: white;
    color: black;
    padding: 3% 3%;

    .warning {
        text-align: center;
    }
    .description {
        align-items: center;
        display: flex;
        height: 100%;
        font-weight: 400;
        margin: auto;
        padding: 2em 2em;
        text-align: justify;

        .description-header {
            font-size: 2em;
        }
        .description-text {
            color: #4c4b4b;
            font-size: 1em;
            padding-top: 2em;
        }
    }
}
