.feature-card {
    text-align: justify;
    margin: 3% 8%;
    color: #000;
    .feature-icon {
        height: auto;
        width: 12%;
    }
    .feature-title {
        font-size: 1.2em;
        .is-deployed {
            color: #a8a8a8;
            font-size: 0.7em;
            float: right;
        }
    }
    .feature-description {
        color: #4c4b4b;
        font-size: 1em;
    }
}
