.features-section {
    background-color: #fbfbff;
    text-align: center;
    .feature-slogan {
        color: #4c4b4b;
        font-weight: 600;
    }
    .feature-section-header {
        color: #000;
        font-size: 2em;
        padding: 0.5em 0;
    }
}
