.home-footer {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5em;
        font-weight: 400;
    }
    .footer-icon {
        height: 3.3em;
        margin-left: 1em;
        width: 2.2em;
    }
}
