.home-footer {
    background-color: #282828;
    color: #fff;
    line-height: 2.5em;
    padding: 2em 0 0.8em 2em;
    text-align: left;
    .column {
        margin: 0 !important;
        padding: 0 !important;
    }
    .footer-icon {
        text-align: left;
    }
    .list-header {
        font-weight: 600;
        margin: 1em 0;
    }
    .link {
        color: #fff;
    }
    .link:hover {
        text-decoration: underline;
    }
    .copyright {
        font-size: 15px;
        margin-top: 30px;
    }
    .footer-img {
        height: 100%;
    }
}
