.home-main-banner {
    background-color: #e9edf5;
    padding: 2% 3%;
    text-align: center;
    .link {
        color: black;
        font-size: 17px;
        margin: 10px;
        padding: 8px 19px;
    }

    .link:hover {
        text-decoration: underline;
    }
    .get-started-link {
        background-color: black;
        border-radius: 26em;
        color: white;
    }
    .title {
        color: #282828;
        font-size: 5em;
        font-weight: 900;
        padding-top: 20px;
    }
    .main-banner-img {
        display: block;
        margin: auto;
    }
}
