.home-main-banner {
    margin: 2% 3%;
    color: black;
    font-size: 1em;
    .link {
        color: black;
    }
    .link:hover {
        text-decoration: underline;
    }
    .title {
        display: inline-block;
        color: #282828;
        font-size: 5em;
        margin: auto;
        padding-top: 20px;
        text-align: center;
        width: 100%;
    }
    .main-banner-img {
        display: block;
        margin: auto;
    }
}
