.links-section {
    background-color: #fbfbff;
    padding: 5em 0;
    .link-card {
        background-color: #fff;
        box-shadow: 0px -12px 22px 0px #bcc1d3;
        box-shadow: 0px 12px 22px 0px #bcc1d3;
        .link-card-img {
            padding: 0.5em;
        }
        .link-card-text {
            align-items: center;
            display: flex;
            font-size: 1em;
            justify-content: center;
            padding: 2.5em 1em;
            .link {
                color: black;
            }
            .link:hover {
                text-decoration: underline;
            }
            .link-card-description {
                color: #82879e;
                font-weight: 300;
                line-height: 2em;
            }
        }
    }
    .login-section {
        margin-top: 2em !important;
        .login-section-title {
            color: #000;
            font-size: 2.5em;
            font-weight: 400;
        }
        .login-section-subtitle {
            color: #4c4b4b;
            font-size: 2em;
            font-weight: 200;
        }
        .login-links {
            padding-top: 2.5em;
            text-align: right;
            .login-link {
                background-color: black;
                display: inline-block;
                margin-left: 1em;
                padding: 0.5em 1em;
                text-align: center;
                width: 40%;
            }
            .login-link:hover {
                text-decoration: underline;
            }
            .sign-in {
                background-color: white;
                border: black 1px solid;
                color: black;
            }
        }
    }
}
