#sidebar {
    background-color: #fbfbfb;
    height: 100%;
    padding: 2em;
    position: relative;
    text-align: left;
    width: 100%;

    hr {
        background-color: rgba(255, 255, 255, 0.25);
        height: 2px;
    }

    .hireflow-icon {
        width: 75%;
    }

    .menu-list {
        text-align: left;
        li {
            margin: 1.5em 0;
            a {
                color: #828282;
                font-family: 'Montserrat', sans-serif;
                font-size: 1em;
                font-weight: 500;
            }

            a:hover {
                background-color: #dadada;
                border-radius: 10px;
            }

            .icon {
                color: black;
                font-size: 1.4em;
                margin-right: 15px;
            }
        }
    }
}
