.box.applicant-header {
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
}

.box.applicant-header p {
    text-align: center;
}

.container {
    .applicant-content {
        height: 55vh;
        overflow-y: scroll;
    }
    .applicant-navbar {
        margin-left: -1.5rem;
        margin-right: 5.5rem;
        margin-top: 1rem;
        position: relative;
        button {
            border: 0;
            color: black;
            font-size: 20px;
            i {
                padding: 1rem;
            }
        }
        .review-button {
            background-color: black;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            font-size: 1em;
            padding: 5px 10px;
            position: absolute;
            right: 10px;
        }
    }
}

@media (min-width: 769px) {
    .start {
        margin-left: -1.25rem;
    }
    .end {
        margin-right: -1.25rem;
    }
}

@media screen and (max-height: 900px) {
    .container {
        .applicant-content {
            height: 45vh;
        }
        .applicant-navbar {
            margin-left: -0.5rem;
            margin-right: 6.5rem;
            button {
                font-size: 18px;
            }
        }
    }
}
