.box.applicant-header {
    height: 42px;
}

.box.applicant-header p {
    text-align: center;
    margin-top: -10px;
}

.container {
    .applicant-header {
        margin-bottom: 10px;
    }
    .applicant-content {
        overflow-y: scroll;
        height: 400px;
    }
}