.display-linebreak {
    white-space: pre;
}
.options {
    color: #fff;

    h1 {
        font-size: 24px;
        font-weight: 500;
    }

    .section {
        height: 350px;
        overflow-y: scroll;
        padding: 10px 0 !important;
    }

    .buttons {
        display: flex;
        flex-direction: row;
    }
    .button {
        margin-right: 1rem;
    }
    .import-button {
        background-color: #b8c1ec;
        border-color: #b8c1ec;
        color: #fff;
    }
    .cancel-button {
        background-color: #ecb8b8;
        border-color: #ecb8b8;
        color: #fff;
    }

    .column {
        padding-left: 0;
        padding-right: 1em;
    }
}

.sheets-import {
    padding-bottom: 4rem;
}
.table {
    background-color: #232946;
    border-radius: 5px;
    border-top-color: #fff;
    color: #fff;
}
.date-header {
    width: 20%;
}
thead tr {
    line-height: 2rem;
}

.table thead th {
    color: #fff;
}
.date-row {
    line-height: 3.75rem;
}
