.screening-stage-header {
    h1 {
        color: #ffffff;
    }
    .hero-title {
        font-size: 48px;
        font-weight: 400;
    }

    .hero-body {
        padding-bottom: 4rem;
    }

    .total {
        font-weight: 700;
        text-decoration: underline;
    }

    img {
        max-width: 300px;
        margin-right: 4rem;
    }
}
