.view {
    background-color: #e9edf5;
    height: 100vh;
    min-height: 100%;
    width: 100vw;
    .columns {
        height: 100%;
    }
    a {
        color: white;
    }
    h1 {
        color: #232946;
        display: inline;
        font-size: 24px;
        font-weight: bold;
    }
    .level.less-padding {
        margin-bottom: 0.6rem;
    }
}
