.view {
    background-color: #232946;
    height: 100vh;
    min-height: 100%;
    width: 100vw;
    .columns {
        height: 100%;
    }
    a {
        color: white;
    }
    h1 {
        color: white;
        font-size: 24px;
        font-weight: bold;
        display: inline;
    }
}
